.bar{
	max-width: 0%;
	transition: max-width 2s cubic-bezier(.68,-0.06,.41,.98);
	-webkit-transition: max-width 2s cubic-bezier(.68,-0.06,.41,.98);
}
.bar{
    margin-bottom: 2%;
}
.bar-container{
    margin: auto;
}

#competences table{
	width: 100%;
}

#competences .specialCol{
	width: 10%;
}
#competences .specialCol:first-child{
	border-right: 1px solid white;
}
#competences .mainCol{
	padding: 0 2%;
}
#competences .specialCol:last-child{
	border-left: 1px solid white;
}