.bar{
	max-width: 0%;
	transition: max-width 2s cubic-bezier(.68,-0.06,.41,.98);
	-webkit-transition: max-width 2s cubic-bezier(.68,-0.06,.41,.98);
}
.bar{
    margin-bottom: 2%;
}
.bar-container{
    margin: auto;
}

#competences .mainCol{
	padding: 0 2%;
}
#competences table{
	width: 75%;
	margin: auto;
}

.competencesLegende{
	border-top: 1px solid #ddd;
}
.competencesLegende td{
	width: 33%;
	padding-top: 2%;
}
.competencesLegende td:first-child{
	text-align: left;
}
.competencesLegende td:last-child{
	text-align: right;
}