.importantWordIntro{
	color: white;
}

.no-margin-padding{
	margin: 0;
	padding: 0;
}

.inBlock{
	display: inline-block;
}
.inline{
	display: inline;
}

.myHR{
    margin: 20px auto;
    border-top: 1px solid #212529;
}

.bg-about {
    background: url(../img/me2.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 0;
    margin: 0;
    min-height: 660px;
    width: 100%;
    height: 100%;
    float: left;
}
#whoAmI{
	text-align: center;
	display: inline;
}
#whoAmI table{
	margin: 0 auto;
    font-size: x-large;
}
#whoAmI #link{
	color: #212529;
}
#whoAmI td{
	padding: 25px 25px;
}

.rea-img{
    max-width: 100%;
    height: 120px;
    margin-bottom: 6%;
}
.pull-down{
    position: absolute !important;
    bottom: 0 !important;
    padding: 0 25px !important;
}


#parcours .section-heading, #experiences .section-heading{
    margin-bottom: 50px;
}
.parcours-bloc {
    font-family: 'Roboto Condensed';
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 2px;
    color: #fff;
    position: relative;
}
.parcours-desc{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 1s;
    -webkit-transition: visibility 0s, opacity 1s;
}
#experiences .parcours-bloc-parent{
    margin-bottom: 7%;
}
#experiences .parcours-desc{
    color: #ddd;
}
#parcours .parcours-desc{
    color: rgb(20,20,20);
}
.parcours-bloc .parcours-desc{
    padding: 0 2%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: medium;
}
#experiences .parcours-bloc:hover{
    background-color: #222;
}
.parcours-bloc:hover .parcours-desc{
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 1s;
    -webkit-transition: visibility 0s, opacity 1s;
}
#experiences{
    background-color: rgb(20,20,20);
    color: #fff;
}
#parcours {
    background-color: #ddd;
    color: black;
}
#parcours .parcours-bloc{
    color: black;
}
#parcours .parcours-bloc:hover{
    background-color: #bbb;
}
#parcours .parcours-hr{
    margin: 20px auto !important;
    border-top: 1px solid black;
}
#experiences .parcours-hr{
    margin: 20px auto !important;
    border-top: 1px solid #fff;
}

@media (max-width: 990px) { /* descriptino -> 3rows */
    .parcours-desc{
        line-height: normal;
    }
}
@media (max-width: 770px) { /* each parcours bloc in a single row --> no animation */
    .parcours-desc{
        line-height: normal;
        visibility: visible;
        opacity: 1;
    }
    #experiences .parcours-bloc-parent, #parcours .parcours-bloc-parent{
        margin-bottom:20%;
    }
}
@media (max-width: 530px) {
    #whoAmI table{
        font-size: medium;
    }
}