//Colors
$before: #0c5860;
$after_parcours: #165c77;
$after_experiences: #19b7f6;

.meet {
	background: none;
	border: 0;
	box-sizing: border-box;
	padding: 1em 2em;
	
	// Using inset box-shadow instead of border for sizing simplicity
	box-shadow: inset 0 0 0 1px $before;
	font-size: inherit;
	font-weight: 700;

	// Required, since we're setting absolute on pseudo-elements
  height: calc(100% + 50px);
  max-height: calc(100% - 20px);
  position: relative;
  vertical-align: middle;
  transition: max-height 0.5s, background-color 0.5s;

  &::before,
  &::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    width: 0;
    height: 0;
  }

  // This covers the top & right borders (expands right, then down)
  &::before {
    top: 0;
    left: 0;
  }

  // Hover styles
  &:hover::before,
  &:hover::after {
    width: 100%;
    height: 100%;
  }

  &:hover{
    max-height: calc(100% + 50px);
  }
  
  // Start ::after in same position as ::before
  &::after {
    top: 0;
    left: 0;
  }
}

#parcours .meet{
  &:hover::before {
    border-top-color: $after_parcours; // Make borders visible
    border-right-color: $after_parcours;
    transition:
      width 0.25s ease-out, // Width expands first
      height 0.25s ease-out 0.25s; // And then height
  }
  &:hover::after {
    border-bottom-color: $after_parcours;
    border-left-color: $after_parcours;
    transition: // Animate height first, then width
      height 0.25s ease-out,
      width 0.25s ease-out 0.25s;
  }
}

#experiences .meet{
  &:hover::before {
    border-top-color: $after_experiences; // Make borders visible
    border-right-color: $after_experiences;
    transition:
      width 0.25s ease-out, // Width expands first
      height 0.25s ease-out 0.25s; // And then height
  }
  &:hover::after {
    border-bottom-color: $after_experiences;
    border-left-color: $after_experiences;
    transition: // Animate height first, then width
      height 0.25s ease-out,
      width 0.25s ease-out 0.25s;
  }
}

@media (max-width: 770px) { /* each parcours bloc in a single row --> no animation*/
    .meet{
      max-height: calc(100% + 50px);
    }
}