* {
    margin: 0;
    padding: 0;
  }
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* make scrollbar transparent */
  }
  
  .cont {
    background: gray;
    color: white;
    height: 100vh;
    padding: 2%;
    text-align: center;
  }
  
  #c2 {
    background: red;
    padding: 0;
    overflow-y: hidden;
  }
  
  .layer {
    width: 50px;
    margin: 0 auto;
  }
  
  .card {
    color: black;
    display: inline-block;
    border: 1px solid white;
    width: 30%;
    height: 96%;
    border-radius: 4px;
    margin: 2% 10px;
  }
  
  .code {
    background-color: black;
    background-image: url("https://cdn-images-1.medium.com/max/1600/1*1okxJmZ6yUyxeVhhZduR2A.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 40vh;
  }
  
  #balls {
    background-color: blue;
    text-align: center;
    height: 100vh;
    padding: 10px;
  }
  
  .ball {
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    background-color: black;
    color: blue;
    font-weight: bold; 
    display: table;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  }
  
  .ball-skill {
    display: table-cell;
    vertical-align: middle;
  }