* {
    margin: 0;
    padding: 0;
  }
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* make scrollbar transparent */
  }
  
  .cont {
    background: gray;
    color: white;
    height: 100vh;
    padding: 2%;
    text-align: center;
  }
  
  #c2 {
    background: rgb(20,20,20);
    padding: 0;
    overflow-y: hidden;
  }
  
  .layer {
    width: 50px;
    margin: 0 auto;
  }
  
  .card {
    color: black;
    display: inline-block !important;
    border: 1px solid white;
    width: 25%;
    height: 90vh;
    border-radius: 4px;
    margin: 5vh 0;
  }
  .middle-card {
      margin-left: 10%;
      margin-right: 10%;
  }
  
  .code {
    background-color: black;
    background-image: url("https://cdn-images-1.medium.com/max/1600/1*1okxJmZ6yUyxeVhhZduR2A.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 40vh;
  }
  
  #balls {
    background-color: blue;
    text-align: center;
    height: 100vh;
    padding: 10px;
    overflow: hidden;
  }
  
  .ball {
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    background-color: black;
    color: blue;
    font-weight: bold; 
    display: table;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  }
  
  .ball-skill {
    display: table-cell;
    vertical-align: middle;
  }

  /* EXPERIENCES */
#experiences .parcours-bloc-parent{
    margin-bottom: 15vh;
}
#experiences .parcours-desc{
    color: #ddd;
}
#parcours .parcours-desc{
    color: rgb(20,20,20);
}
.parcours-bloc .parcours-desc{
    padding: 0 2%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: medium;
}
#experiences .parcours-bloc:hover{
    background-color: #222;
}
.parcours-bloc:hover .parcours-desc{
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 1s;
    -webkit-transition: visibility 0s, opacity 1s;
}
#experiences{
    background-color: rgb(20,20,20);
    color: #fff;
}
#parcours {
    background-color: #ddd;
    color: black;
}
#parcours .parcours-bloc{
    color: black;
}
#parcours .parcours-bloc:hover{
    background-color: #bbb;
}
#parcours .parcours-hr{
    margin: 20px auto !important;
    border-top: 1px solid black;
}
#experiences .parcours-hr{
    margin: 20px auto !important;
    border-top: 1px solid #fff;
}

#parcours .section-heading, #experiences .section-heading{
    margin-bottom: 50px;
}
.parcours-bloc {
    font-family: 'Roboto Condensed';
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 2px;
    color: #fff;
    position: relative;
}
.parcours-desc{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 1s;
    -webkit-transition: visibility 0s, opacity 1s;
}